notes.md
zit_backend/zit_backend/settings.py
zit_backend/zit_backend/pythonanywhere_settings.py

# Python / Django
venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3
.env
*.log
media/
staticfiles/

# Flutter / Dart
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# IDE / OS
.DS_Store
.vscode/
.idea/
*.swp
Thumbs.db

zit_frontend/android/
zit_frontend/ios/
zit_frontend/web/
zit_frontend/linux/
zit_frontend/macos/
zit_frontend/windows/
zit_frontend/test/